{% extends "base.html" %}
{% block content %}
<h3>Авторизация</h3>
<p class="my-3 my-md-4">Здесь вам следует ввести свою почту и пароль, также как при регистрации.</p>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control border border-warning", type="email") }}<br>
        {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control border border-warning", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message: %}
    <div class="my-4 alert alert-danger" role="alert"> {{message}}</div>
    {% endif %}
</form>
{% endblock %}