{% extends "base.html" %}
{% block content %}
<h3>Список членов группы</h3>
<p class="my-3 my-md-4">Здесь вы можете увидеть кто состоит в вашей группе.</p>
<p class="my-3 my-md-4">В списке представленны логины членов вашей группы. Кликните по логину и перейдите на страничку
для оценки качеств члена группы.</p>
<div class="m4 row justify-content-around">
{% for item in members%}
<div class="my-2 p-2 col-12 col-md-5 col-lg-3 border border-warning rounded">
    <a href="/member/{{ item.id }}">{{item.login}}</a>
</div>
{% endfor %}
</div>
{% endblock %}